DISCORD_TOKEN=
DISCORD_CLIENT_ID=
OWNER_IDS=
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
PERSONNEL_ROSTER_SHEET_NAME=Personnel Roster
PERSONNEL_DATABASE_SHEET_NAME=Personnel Database
PERSONNEL_DATA_START_ROW=2
TRAINING_TIMEZONE=Europe/London
